@model IEnumerable<PowerPlantV2.Models.PowerplantSite>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sitename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsefulLife)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sitename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsefulLife)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumer.ConsumerID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
